
.task-container{
  display: inline-block;
  max-width: 300px;
  background-color: rgb(218, 236, 247);
  margin-left: 10px;
  padding: 10px;

}

.clock-container{
  display: inline-block;
  max-width: 300px;
  background-color: rgb(235, 210, 181);
  margin-left: 100px;
  padding: 40px 50px;

}


.color-picker-container{
  display: inline-block;
  max-width: 300px;
  background-color: rgb(59, 24, 23);
  margin-left: 100px;
  padding: 40px 50px;
}
.color-picker{
  color: rgb(236, 244, 229)
}
.clock-number{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(225, 243, 229);
  border: 1px solid black;
  margin: 10px 20px;
  padding: 10px 28px;
  align-items: center;
  background-color: rgb(77, 65, 52);
  border-radius: 3px;
  width: 100px;
  
}
.container{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
ol{
  padding: 0;
  list-style-type: none;
}

h1{
  color: rgb(68, 86, 109);
  margin-left: 10px;
}
input{
  /* padding: 10px,15px; */
  height: 30px;
  border: none;
  border-radius: 3px;
}
li{
  background-color: rgb(98, 133, 162);
  padding-left: 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  height: 40px;
  margin-top: 2px;
}

.add-task-button{
  background-color: rgb(14, 149, 149);
  color: white;
  margin: 10px 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  height: 30px;
}

.delete-task-button{
  background-color: rgb(212, 64, 64);
  color: rgb(255, 239, 239);
  margin: 10px 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}


.class-container{

}